<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ cargo if cargo else "Página Inicial" }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <!-- Seção do Logo com link para a página inicial -->
        <div class="logo">
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo">
            </a>
        </div>

        <!-- Menu de navegação -->
        <nav>
            <ul>
                {% for cargo in cargos %}
                    <li><a href="{{ url_for('cargo_page', cargo_nome=cargo.lower().replace(' ', '_')) }}">{{ cargo }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
